.app {
  text-align: center;
  width: 500px;
  padding: 20px;
}

.title {
  font-family: PingFangSC-Medium;
  font-size: 20px;
  color: #333333;
}

.head {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.text-area {
  margin-top: 20px;
  width: 100%;
}

.transform-button {
  margin-top: 15px;
}


.ant-upload-text {
  padding: 0 5px;
}