.app {
  text-align: center;
  width: 500px;
  padding: 20px;
}

.title {
  font-family: PingFangSC-Medium;
  font-size: 20px;
  color: #333333;
}

.head {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.img-container {
  width: 150px;
  height: 150px;
}

.img-container img {
  max-width: 150px;
  max-height: 150px;
  vertical-align: middle;
}

.text-area {
  margin-top: 20px;
  width: 100%;
}

.transform-button {
  margin-top: 15px;
}


.ant-upload-text {
  padding: 0 5px;
}